In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
# 한국 주식 및 etf 
import FinanceDataReader as fdr

In [2]:
# [STEP1]한국 etf 정보 가져오기
kr_etf_df = fdr.StockListing('ETF/KR')
kr_etf_list = kr_etf_df['Symbol'].tolist()

In [29]:
def NaverFinance_indicator(etf_symbol, page_num):
    url = 'https://finance.naver.com/item/sise.naver?code={}&page={}'.format(etf_symbol, page_num)
    driver = webdriver.Chrome("C:/Users/is/Downloads/chromedriver_win32/chromedriver.exe")
    driver.get(url)
    iframes = driver.find_elements_by_name("day")
    # print(iframes[1])
    driver.switch_to.frame(iframes[1])
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    table_data = soup.find('table')
    # data = table_data.find('tbody')
    # print(data.select('th'))
    # print(data.select('td'))
    df = pd.read_html(html)[0]
    

    # html = driver.page_source
    # soup = BeautifulSoup(html, 'html.parser')
    # aside_data = soup.find(id="aside")
    # data = aside_data.find("tbody")
    # print(data.select('th')[1].text)
    # print(data.select('em')[1].text)

    # table_list = soup.find_all('table')
    # print(table_list[5].select('th')[0].text)
    # print(table_list[5].select('td')[0].text)

    # print(table_list[-1])
    # r = soup.select('tbody')
    # print(r)
    driver.close()
    # # 인덱싱 준비
    # factors = []
    # for i in range(33):
    #     r = soup.select('tbody')[12]
    #     r = r.select('tr')[i].select('th')[0].text
    return df

In [31]:
df = NaverFinance_indicator(kr_etf_list[0], 1)
df.head()

C:\Users\is\AppData\Local\Temp/ipykernel_14940/2131828632.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:/Users/is/Downloads/chromedriver_win32/chromedriver.exe")
C:\Users\is\AppData\Local\Temp/ipykernel_14940/2131828632.py:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  iframes = driver.find_elements_by_name("day")

           날짜       종가    전일비       시가       고가       저가        거래량
0         NaN      NaN    NaN      NaN      NaN      NaN        NaN
1  2022.01.14  39105.0  615.0  39405.0  39480.0  39035.0  2984219.0
2  2022.01.13  39720.0  205.0  39975.0  40030.0  39680.0  4178583.0
3  2022.01.12  39925.0  645.0  39545.0  39935.0  39530.0  4323445.0
4  2022.01.11  39280.0  115.0  39225.0  39445.0  39050.0  4298895.0

In [32]:
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000e+01
mean,39491.000000,345.500000,39586.500000,39766.500000,39296.000000,5.328462e+06
std,372.445373,230.089958,369.594748,328.870542,355.143164,2.358200e+06
min,38975.000000,25.000000,39100.000000,39445.000000,38880.000000,2.984219e+06
25%,39193.750000,137.500000,39270.000000,39465.000000,39038.750000,4.208661e+06
50%,39417.500000,347.500000,39482.500000,39727.500000,39152.500000,4.516047e+06
75%,39873.750000,550.000000,39943.750000,40006.250000,39642.500000,4.966430e+06
max,39965.000000,645.000000,40070.000000,40345.000000,39825.000000,1.039130e+07

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      10 non-null     object
 1   종가      10 non-null     float64
 2   전일비     10 non-null     float64
 3   시가      10 non-null     float64
 4   고가      10 non-null     float64
 5   저가      10 non-null     float64
 6   거래량     10 non-null     float64
dtypes: float64(6), object(1)
memory usage: 968.0+ bytes

In [35]:
df['date'] = pd.to_datetime(df['날짜'], format="%Y.%m.%d")
df.head()

           날짜       종가    전일비       시가       고가       저가        거래량       date
0         NaN      NaN    NaN      NaN      NaN      NaN        NaN        NaT
1  2022.01.14  39105.0  615.0  39405.0  39480.0  39035.0  2984219.0 2022-01-14
2  2022.01.13  39720.0  205.0  39975.0  40030.0  39680.0  4178583.0 2022-01-13
3  2022.01.12  39925.0  645.0  39545.0  39935.0  39530.0  4323445.0 2022-01-12
4  2022.01.11  39280.0  115.0  39225.0  39445.0  39050.0  4298895.0 2022-01-11